- @component_form.fields_for :metadata, @component.metadata do |metadata_form|
  = metadata_form.hidden_field :body
  %trix-editor{ input: 'components_page_metadata_body' }
  = metadata_form.select :body_color, available_button_colors, required: true
