.p-0.w-100{ class: "image_hero_#{components_page.assets.first.id}" }
= render partial: 'mcm/pages/templates/shared/hero_image_css',
    locals: { asset: components_page.assets.first,
              class_name: "image_hero_#{components_page.assets.first.id}",
              height: components_page.parent.height }
