= @form.hidden_field :id
%img{src: image_src, id: "preview-#{@form.options[:child_index]}", style: @styles}
= @form.file_field :attachment, onchange: "showPreview(this, #{@form.options[:child_index]})"

:javascript
  if (typeof showPreview == 'undefined') {
    function showPreview(input, index) {
      if (input.files && input.files[0]) {
        const reader = new FileReader()
        reader.onload = (e) => {
          const img = document.getElementById("preview-" + index)
          img.src = e.target.result
        }
        reader.readAsDataURL(input.files[0])
      }
    }
  }
