- component_form.object.assets.first_or_initialize
= component_form.fields_for :assets do |assets_form|
  = assets_form.file_field :attachment
  - if assets_form.object.attachment.attached?
    = image_tag assets_form.object.attachment.variant(:desktop).processed.url
